# IDEs
.idea

# Python: https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]

# Code coverage artifacts
.coverage
htmlcov/

# Vendor
node_modules/

# Local DynamoDB
.dynamodb

# Serverless scratch directory
.serverless

# Copied dist files
.env
serverless.yml