version: '3.7'

services: # containers. same as `docker run`

  api:                                # a friendly name. this is also a DNS name inside network
    build:                            # Optional, build context for `docker build`
      context: ./services/api
    image: unemployment-reminders-api:latest       # Optional, if you use `build` this will be the name of the built image
    env_file:
      - ./services/api/.env
    ports:                            # Optional, same as -p in `docker container run`
      - '5000:5000'
    volumes:                          # Optional, same as -v in `docker container run`
      - ./services/api:/usr/local/src/reminders
      - /usr/local/src/reminders/node_modules/
      - ~/.aws:/root/.aws
    networks:
      - frontend
      - backend

  dynamodb:
    # https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.UsageNotes.html
    # https://github.com/99xt/serverless-dynamodb-local/issues/57#issuecomment-609098256
    image: 'amazon/dynamodb-local'
    ports:
      - '8000:8000'
    command: ["-jar", "DynamoDBLocal.jar", "-sharedDb", "-inMemory"]
    networks:
      - backend

  dynamodb_admin:
    image: 'aaronshaf/dynamodb-admin'
    ports:
      - '8001:8001'
    environment:
      DYNAMO_ENDPOINT: http://dynamodb:8000
    networks:
      - frontend
      - backend


networks:                             # Optional, same as `docker network create`
  frontend:
    driver: bridge
  backend:
    driver: bridge